h1
{
    color: rgb(49, 25, 184);
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2{
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h3{
    font-size: 35px;
    text-decoration: underline;
}

p {
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navbar {
    background-color: rgba(0, 23, 230, 0.733);
    font-size: 30px;   
    padding-right: 20px;  
}

@media (min-width:768px){
    .navbar{
        font-size: 25px;
    }
   h1 {
    font-size: 35px;
   }
   p {
    font-size: 25px;
   }
   .contact{
    font-size: 25px;
   }
}

.navbar-nav{
    --bs-nav-link-color: rgb(255, 255, 0);
}


.logo{
    margin-left: 20px;
}

ul{
    margin-right: 20px;
}

body {
    background-image: url('Fond_biere.jpeg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    
}

html, body{
    height: 100%;
}

.container{
    background-color: rgba(255, 253, 242, 0.8);
    border-radius: 10px;
    font-size: 25px;
}

.event-image{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.event-container{
    display: flex;
    align-items: center;
}

.contact {
    font-size: 30px;
}